html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

.container {
    background: #004d00;
    display: flex;
    width: 100vw;
    height: 1200px;
    padding-top: 2em;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'arial', sans-serif;
    font-weight: 300;
}

.logo {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto 0 auto;
}


/* Styles for the deck of cards */

.deck {
    display: flex;
    width: 660px;
    min-height: 680px;
    margin: 0 0 3em;
    padding: 32px;
    border-radius: 10px;
    background: linear-gradient(160deg, #708090 0%, #c0c0c0 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deck .card {
    display: flex;
    width: 125px;
    height: 125px;
    color: #ffffff;
    border-radius: 8px;
    background: #000000;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    align-items: center;
    font-size: 0;
    justify-content: center;
    cursor: pointer;
}

.deck .card.open {
    background: #100099;
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.clicked {
    pointer-events: none;
}

.deck .card.match {
    background: #009973;
    font-size: 33px;
    cursor: default;
}


/* Styles for the Score Panel */

.score-panel {
    width: 345px;
    margin-bottom: 10px;
    color: yellow;
    text-align: left;
}

#stars {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.score-panel .restart {
    float: right;
    padding: 13px;
    cursor: pointer;
}

.score-panel .restart:hover {
    animation: fa-spin 2s 1 linear;
}

#timer {
    font-size: 15px;
}


/* Model styling */

.modal-bg {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1200px;
    padding-top: 2em;
    justify-content: center;
}

.modal-contents {
    position: relative;
    width: 400px;
    height: 300px;
    padding: 20px;
    color: yellow;
    border: 8px solid #708090;
    border-radius: 6px;
    background: #477148;
    text-align: center;
}

.button-restart {
    background: #100099;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 28px;
    color: #708090;
    border: 2px solid #708090;
    border-radius: 30px;
    text-decoration: none;
}

.button-quit {
    background: #100099;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 28px;
    color: #708090;
    border: 2px solid #708090;
    border-radius: 30px;
    text-decoration: none;
}

.button-restart:hover {
    background: white;
    color: #1686d9;
    border: 2px solid #1686d9;
}

.button-quit:hover {
    background: white;
    color: #1686d9;
    border: 2px solid #1686d9;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    color: yellow;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.stop-screen {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1200px;
    background: #477148;
    justify-content: center;
}

.thanks {
    color: yellow;
    font-size: 3em;
    font-weight: 900;
}


/* Animation styling */

@keyframes tada-box {
    0% {
        transform: scale(1);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

.tada {
    animation: tada-box 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes shake-box {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-3px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(3px);
    }
}

.shaking {
    animation: shake-box 1s;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}